body {
  margin: 0;
  background: #f4efff;
  font-family: Arial;
}

.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.login input,
.login button,
textarea {
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  border: none;
}

.login button {
  background: #c084fc;
  color: white;
}

.hidden {
  display: none;
}

#dashboard {
  display: flex;
}

aside {
  width: 220px;
  background: white;
  height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

aside button {
  border: none;
  padding: 14px;
  border-radius: 12px;
  background: #e9d5ff;
}

main {
  flex: 1;
  padding: 30px;
}

.admin-section {
  background: white;
  padding: 25px;
  border-radius: 20px;
}

.admin-section input,
.admin-section textarea,
.admin-section button {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 12px;
}
